<ng-container *ngIf="notes.length > 0">
  <ul>
    <li *ngFor="let note of this.notes">
      <p class="note-title">{{ note.noteTitle }}s</p>
      <p class="note-short-title">{{ note.noteShortTitle }}</p>
      <ng-container
        *ngIf="note.secondaryNotes && note.secondaryNotes.length > 0"
      >
        <app-secondary-note
          [secondaryNote]="secondaryNote"
          *ngFor="let secondaryNote of note.secondaryNotes"
        ></app-secondary-note>
      </ng-container>
    </li>
  </ul>
</ng-container>
