<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Overlay Editor</title>
  </head>
  <body>
    <ul id="navigation">
      <li v-for="nav in navigation"><nav-item v-bind:nav="nav"></nav-item></li>
    </ul>
    <div id="app">
      <div v-if="verses">
        <verse-item
          v-for="verse in verses"
          v-bind:verse="verse"
          v-bind:key="verse.id"
        ></verse-item>
      </div>
      <span v-else
        ><input type="file" name="notes-file" id="notesFileOpener"
      /></span>
    </div>
  </body>
  <script src="./dist/main.js"></script>
</html>
