<div
  [class]="this.getClassList()"
  id="this.secondaryNote._id"
  offset="this.getOffsets()"
>
  <app-note-phrase [notePhrase]="this.getNotePhrase()"></app-note-phrase>
  <app-note-reference
    [noteRef]="noteRef"
    *ngFor="let noteRef of this.getNoteRefs()"
  ></app-note-reference>
  <p class="note-phrase">“worm”</p>
  <p class="note-reference">
    <span class="reference-label-cross-ref"> </span
    ><a class="scripture-ref" href="#/isa/66.24">Isa. 66:24</a>;
    <a class="scripture-ref" href="#/dc/76.44">D&amp;C 76:44</a>.
  </p>
</div>
