<div
  [class]="this.getClassList()"
  id="{{this.secondaryNote.id}}"
  [attr.offset]="this.secondaryNote.offsets"
  *ngIf="!this.dataService.editMode"
>
  <secondary-note>
    <p>
      <app-note-phrase [notePhrase]="this.getNotePhrase()"></app-note-phrase>
      <app-note-reference
        [noteRef]="noteRef"
        *ngFor="let noteRef of this.getNoteRefs()"
      >
      </app-note-reference>
    </p>
    <span>
      <button (click)="addOffsets()">
        Add Offset
      </button>
    </span>
  </secondary-note>
</div>
<div
  [class]="this.getClassList()"
  id="{{this.secondaryNote.id}}"
  [attr.offset]="this.secondaryNote.offsets"
  *ngIf="this.dataService.editMode"
>
  <secondary-note>
    <p>
      <textarea
        name=""
        id=""
        cols="30"
        rows="1"
        (keyup)="this.updateSecondaryNote($event, 'notePhrase')"
        >{{ this.getNotePhrase() }}</textarea
      >
      <app-note-phrase [notePhrase]="this.getNotePhrase()"></app-note-phrase>
      <ng-container *ngFor="let noteRef of this.getNoteRefs()">
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          *ngFor="let noteRef of this.getNoteRefs()"
          (keyup)="this.updateNoteRef($event, noteRef)"
          >{{ noteRef.noteRef }}</textarea
        >
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          (keyup)="this.updateSecondaryNote($event, 'offsets')"
          >{{ this.secondaryNote.offsets }}</textarea
        >
      </ng-container>

      <app-note-reference
        [noteRef]="noteRef"
        *ngFor="let noteRef of this.getNoteRefs()"
      >
      </app-note-reference>
    </p>
  </secondary-note>
</div>
