<!-- <app-navigation *ngIf="dataService.navigation"></app-navigation> -->

<ng-container *ngIf="!dataService.notesDocument">
  <div>
    <label for="notesFileOpener">Load Notes File</label>
    <br />
    <input
      type="file"
      name="notes-file"
      id="notesFileOpener"
      (change)="this.loadNotesFile($event)"
    />
  </div>
</ng-container>
<ng-container *ngIf="dataService.notesDocument && !dataService.chapterDocument">
  <div>
    <label for="chapterFileOpener">Load Chapter File</label>
    <br />
    <input
      type="file"
      name="chapter-file"
      id="chapterFileOpener"
      (change)="this.loadChapterFile($event)"
    />
  </div>
</ng-container>

<ng-container *ngIf="dataService.notesDocument && dataService.chapterDocument">
  <app-body-block></app-body-block>
  <app-notes></app-notes>
</ng-container>
