<!-- <app-navigation *ngIf="dataService.navigation"></app-navigation> -->
<div class="parent-grid">
  <div></div>

  <ng-container *ngIf="!dataService.verses && !dataService.notes">
    <div id="chapterDocumentLoader">
      <ng-container *ngIf="!dataService.chapterDocument && !dataService.verses">
        <div>
          <label for="chapterFileOpener">Load Chapter File</label><br />
          <input
            type="file"
            name="chapter-file"
            id="chapterFileOpener"
            (change)="this.loadChapterFile($event)"
          />
        </div>
      </ng-container>
      <ng-container *ngIf="!dataService.notesDocument && !dataService.notes">
        <div>
          <label for="notesFileOpener">Load Notes File</label>
          <br />
          <input
            type="file"
            name="notes-file"
            id="notesFileOpener"
            (change)="this.loadNotesFile($event)"
          />
        </div>
      </ng-container>
    </div>
    <!-- <div id="notesDocumentLoader"></div> -->
  </ng-container>
  <ng-container *ngIf="dataService.verses && dataService.notes">
    <app-body-block
      [verses]="dataService.verses"
    ></app-body-block>
    <!-- <app-notes [notes]="dataService.notes"></app-notes> -->
  </ng-container>
</div>
