<div
  class="oith-content "
  [ngClass]="{ 'display-notes': this.saveStateService.data.notesPaneToggle }"
>
  <div class="body-block ">
    <div style="background: green"></div>
    <div class="oith-chapter-container">
      <ng-container
        *ngIf="
          this.chapterService.chapter && this.chapterService.chapter.paragraphs
        "
      >
        <app-paragraph
          *ngFor="let paragraph of this.chapterService.chapter.paragraphs"
          [paragraph]="paragraph"
        ></app-paragraph>
        <div style="height: 90vh;"></div>
      </ng-container>
    </div>
    <div style="background: green"></div>
  </div>
  <div style="background-color: red" class="footer">
    <ng-container
      *ngIf="
        this.chapterService.chapter &&
        this.saveStateService.data.notesPaneToggle
      "
    >
      <app-note
        [note]="note"
        *ngFor="let note of this.chapterService.chapter.notes"
      ></app-note>
      <div style="height: 90vh;"></div>
    </ng-container>
  </div>
</div>
