<div class="oith-content">
  <div class="body-block ">
    <div style="background: green"></div>
    <div>
      <ng-container
        *ngIf="
          this.chapterService.chapter && this.chapterService.chapter.paragraphs
        "
      >
        <app-paragraph
          *ngFor="let paragraph of this.chapterService.chapter.paragraphs"
          [paragraph]="paragraph"
        ></app-paragraph>
        <div style="height: 90vh;"></div>
      </ng-container>
    </div>
    <div style="background: green"></div>
  </div>
  <div style="background-color: red" class="footer">
    <ng-container *ngIf="this.chapterService.chapter">
      <app-note
        [note]="note"
        *ngFor="let note of this.chapterService.chapter.notes"
      ></app-note>
      <div style="height: 90vh;"></div>
    </ng-container>
  </div>
</div>
