<div class="oith-content">
  <div class="body-block ">
    <div></div>
    <div>
      <ng-container *ngIf="this.chapterService.verses">
        <app-verse
          *ngFor="let verse of this.chapterService.verses"
          [verse]="verse"
        ></app-verse>
        <div style="height: 90vh;"></div>
      </ng-container>
    </div>
    <div></div>
  </div>
  <div style="background-color: red" class="footer">
    <ng-container *ngIf="this.chapterService.notes">
      <app-note
        [note]="note"
        *ngFor="let note of this.chapterService.notes"
      ></app-note>
    </ng-container>
  </div>
</div>
