verse {
  display: block;
  margin-top: 5px;

  // width: 80%;
  &.highlight {
    border-left: 3px solid #f68d2e;
  }
  &.paragraph {
    display: inline;
    margin: 0;
    padding-right: 5px;
    &.highlight {
      /* background-color: rgba(184,184,106,.815); */
      background-color: rgba(184, 184, 106, 0.815);
    }
  }

  &#title1 {
    text-align: center;
    display: block;
    font-size: 1.5em !important;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: serif;
    margin: 6pt 0;
    text-align: center;
    padding-right: 20px;
  }
  &#study_summary1,
  &#intro1 {
    padding-right: 20px;
    font-family: serif;
    margin: 0;
    margin-bottom: 6pt;
    font-style: italic;
  }

  &#title_number1 {
    padding-right: 20px;
    font-family: serif;
    margin: 0;
    margin-top: 6pt;
    margin-bottom: 6pt;
    text-align: center;
    font-weight: bold;
    display: block;
  }
}
