table {
  width: 100%;
  tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


ul
{
  list-style: none;
  li{
    display: grid;
    grid-template-columns: 1fr 1fr;
      border-style: solid;
      border-width: 1px;
      border-color: black;
     app-verse{
        border-right-style: solid;
        border-right-width: 1px;

      }
  }
}
