<!-- <table>
  <tr *ngFor="let verse of verses">
    <td><app-verse [verse]="verse"></app-verse></td>
    <td>
      <ng-container *ngIf="verse.note">
        <ng-container
          *ngIf="
            verse.note.secondaryNotes && verse.note.secondaryNotes.length > 0
          "
        >
          <app-secondary-note
            [secondaryNote]="secondaryNote"
            *ngFor="let secondaryNote of verse.note.secondaryNotes"
          ></app-secondary-note>
        </ng-container>
      </ng-container>
    </td>
  </tr>
</table> -->

<ul>
  <li *ngFor="let verse of verses">
    <app-verse [verse]="verse"></app-verse>
    <ng-container *ngIf="verse.note">
      <note>
        <!-- <p class="note-title">{{ verse.note.noteTitle }}</p>
        <p class="note-short-title">{{ verse.note.noteShortTitle }}</p> -->
        <ng-container
          *ngIf="
            verse.note.secondaryNotes && verse.note.secondaryNotes.length > 0
          "
        >
          <app-secondary-note
            [secondaryNote]="secondaryNote"
            *ngFor="let secondaryNote of verse.note.secondaryNotes"
          ></app-secondary-note>
        </ng-container>
      </note>
    </ng-container>
  </li>
</ul>
<button
  (click)="addNoteTest(0)"
  style="position: fixed; left: 0px; top: 0px; height: 48px; width: 48px; color: black"
></button>

<button
  (click)="addNoteTest(1)"
  style="position: fixed; left: 48px; top: 0px; height: 48px; width: 48px; color: black"
></button>

<button
  (click)="this.dataService.editMode = !this.dataService.editMode"
  style="position: fixed; left: 96px; top: 0px; height: 48px; width: 48px; color: black"
>
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
    <path
      d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
    />
    <path d="M0 0h24v24H0z" fill="none" />
  </svg>
</button>
