.highlight-blue {
  color: blue;
}

w,
f {
  &.f-ref-multi {
    border-bottom: 1px solid grey;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-color: grey;
    &.selected {
      text-decoration: none;
      border-bottom: 3px solid #dc143c;
    }
  }
  &.f-ref-single {
    border-bottom: 1px solid grey;
    &.selected {
      text-decoration: none;
      border-bottom: 3px solid #f68d2e;
    }
  }
  &.highlight-yellow,
  &.underline-yellow {
    background-color: #fff8aa;
  }
  &.highlight-blue,
  &.underline-blue {
    background-color: #aaf6ff;
  }
  &.highlight-green,
  &.underline-green {
    background-color: #d6ffaa;
  }
  &.highlight-red,
  &.underline-red {
    background-color: #ff9b9f;
  }
  &.highlight-purple,
  &.underline-purple {
    background-color: #d7d5fc;
  }

  &.highlight-orange,
  &.underline-orange {
    background-color: #ffbf98;
  }
  &.highlight-pink,
  &.underline-pink {
    background-color: #ffc2e9;
  }
  &.highlight-gray,
  &.underline-gray {
    background-color: #dddddd;
  }
  &.highlight-brown,
  &.underline-brown {
    background-color: #dfcdba;
  }
  &.highlight-dark-blue,
  &.underline-dark-blue {
    background-color: #a8c7e6;
  }
}
